// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$fa-font-path: "../webfonts";


.text-blue{
    color: $blue;
}

.blue {
    color: $blue;
}
.indigo{
    color: $indigo;
}
.purple{
    color: $purple;
}
.pink{
    color: $pink;
}
.red{
    color: $red;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}
.green {
    color: $green;
}
.teal {
    color: $teal;
}
.cyan {
    color: $cyan;
}

///// Transition view
.slide-enter {

}
.slide-enter-active {
    animation: slide-in 0.3s ease-in forwards;
}
.slide-leave {

}
.slide-leave-active {
    animation: slide-in .3s ease-out forwards reverse;
    
}
.slide-move {
    transition: transform 1s;
}
@keyframes slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}